@font-face {
  font-family: "iconfont"; /* Project id 4595128 */
  src: url('iconfont.svg?t=1720423676956#iconfont') format('svg');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-down:before {
  content: "\e600";
}

.icon-up:before {
  content: "\e6f8";
}

.icon-fendou:before {
  content: "\e610";
}

.icon-fendouzhe:before {
  content: "\e64e";
}

.icon-info:before {
  content: "\e83d";
}

